<%= form_with(model: tiny_url) do |form| %>
  <% if tiny_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tiny_url.errors.count, "error") %> prohibited this tiny_url from being saved:</h2>

      <ul>
        <% tiny_url.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :reurl %>
    <%= form.text_field :reurl %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
