<p id="notice"><%= notice %></p>

<h1>Tiny Urls</h1>

<table>
  <thead>
    <tr>
      <th>短網址名稱</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tiny_urls.each do |tiny_url| %>
      <tr>
        <td><%= link_to tiny_url.name, tiny_url_path(tiny_url) %></td>
        <td><%= link_to 'Show', tiny_url %></td>
        <td><%= link_to 'Edit', edit_tiny_url_path(tiny_url) %></td>
        <td><%= link_to 'Destroy', tiny_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>點擊次數：<%= tiny_url.click_times %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @tiny_urls %>
<br>

<%= link_to 'New Tiny Url', new_tiny_url_path %>
